PORT = *000
MONGODB_URL=mongodb+srv://USERNAME:<password>@cluster0.gmbl6b3.mongodb.net/
CROS_ORIGIN=*
ACCESS_TOKEN_SECRAT=APNA-LIKHO
ACCESS_TOKEN_EXPIRY=1d
REFFRESH_TOKEN_SECRAT=APNA-LIKHO
REFFRESH_TOKEN_EXPIRY=10d